body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logo-img {
  max-height: 64px !important;
  padding: 15px 0 !important;
}

footer {
  bottom: 0;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 5;
}
nav {
  position: fixed;
  z-index: 5;
}

.footer-link {
  text-decoration: none;
  color: #424242;
}

.text-secondary {
  color: #e0e0e0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.m-1 {
  margin: 0.5rem;
}

.containerDetails {
  padding-top: 5rem;
}

.loginForm {
  max-width: 50vw;
}
#modal1{
  padding: 1rem;
}

.mainContainer {
  height: 100vh;
}

.mainColor {
  color: #701c9a;
}

.mainBackground {
  background-color: #701c9a;
}
